nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(181, 0, 20);
  padding: 1rem;
  z-index: 0;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}
nav li {
  margin-right: 2.5rem;
}
nav li a {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
}
nav li a:hover {
  color: #000000;
}

body {
  margin: 0;
  font-family: "Roboto";
  color: #fff;
}

.logo {
  position: absolute;
  top: 1vh;
  left: 5vw;
  z-index: 1;
}

.subnav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}
.subnav p {
  margin: 0.5rem;
}

.rightMargin {
  padding-right: 18rem;
}

.rightText {
  text-align: right;
}

.blackBg {
  background-color: rgb(37, 37, 37);
}

.blackBg2 {
  background-color: rgb(14, 14, 14);
}

.redBg {
  background-color: rgb(166, 33, 32);
}

.imageBackground {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.imageBackground img {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  z-index: -1;
}
.imageBackground .flex-container {
  display: flex;
  flex-direction: column;
  position: absolute; /* Ensure it's on top of the image */
  top: 0;
  left: 0;
  right: 0; /* Stretch to the full width of the container */
  bottom: 0; /* Stretch to the full height of the container */
  z-index: 1; /* Ensure it stays on top of the image */
}
.imageBackground .flex-container div {
  width: 33%;
}
.imageBackground .flex-container div:nth-child(1) {
  height: 25%;
}
.imageBackground .flex-container div:nth-child(2) {
  height: 50%;
  position: relative;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}
.imageBackground .flex-container div:nth-child(2) .inner-container {
  position: absolute; /* Position absolutely within the parent div */
  top: 0;
  right: 0; /* Align to the right */
  width: 50%;
  text-align: left;
}
.imageBackground .flex-container div:nth-child(3) {
  height: 25%;
}

.row {
  display: flex;
  flex-direction: row;
}

.redButton {
  padding: 15px 50px;
  border-radius: 25px;
  margin-right: 10px;
  color: #fff;
  border: 1px solid;
  background-color: rgb(166, 33, 32);
  border-color: #fff;
}

.whiteButton {
  padding: 15px 50px;
  border-radius: 25px;
  margin-right: 10px;
  color: #fff;
  border: 1px solid;
  background-color: #fff;
  color: #000;
  border-color: #ff0000;
  margin-top: 10px;
}

.bg-image {
  max-width: 100%;
}

.section {
  height: 100vh;
}

.half-section {
  height: 80vh;
  display: flex;
  width: 100%;
}
.half-section .left {
  align-items: right;
  width: 50%;
}
.half-section .right {
  align-items: left;
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noBottomMargin {
  margin-bottom: 0;
}

.noTopMargin {
  margin-top: 0;
}

.first-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 40vh;
  margin-top: 20vh;
  margin-bottom: 10vh;
}

.second-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10vh;
  margin-right: 40vh;
  margin-top: 20vh;
  margin-bottom: 10vh;
}

.third-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 40vh;
  margin-top: 20vh;
  margin-bottom: 10vh;
  line-height: 1.5;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(181, 0, 20);
  color: #fff;
  padding: 15px;
}
footer p {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lastRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(102, 0, 11);
  color: #fff;
}
.lastRow p {
  margin: 0.5rem;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */