nav {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: rgb(181, 0, 20);
    padding:1rem;
  
    ul {
        list-style: none;
        display: flex;
        align-items: center; 
        
    }
  
    li {
        margin-right: 2.5rem;
  
      a {
        text-decoration: none;
        color: #ffffff;
        display: flex;
        align-items: center; 
  
        &:hover {
          color: #000000;
        }
      }
    }
  }

  body{
    margin: 0;
    font-family: "Roboto";
    
  }

  .row { 
    width: 100%;
    display: flex; 
    flex-direction: row; 
    justify-content: right; 
    align-items: center;
    p{
        margin: 0.5rem;
    }

 }

 .rightMargin{
    padding-right: 18rem;
    
 }

 .blackBg{
    background-color: rgb(37, 37, 37);
    color:#ffffff;
 }

 .imageBackground{
    display: flex;
    flex-direction: column;
    align-items: center;
    size: cover;
 }

 footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(181, 0, 20);
    color:#fff; 

    
}


