nav {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: rgb(181, 0, 20);
    padding:1rem;
    z-index: 0;
    ul {
        list-style: none;
        display: flex;
        align-items: center; 
        
    }
  
    li {
        margin-right: 2.5rem;
  
      a {
        text-decoration: none;
        color: #ffffff;
        display: flex;
        align-items: center; 
  
        &:hover {
          color: #000000;
        }
      }
    }
  }

  body{
    margin: 0;
    font-family: "Roboto";
    color:#fff;
  }

  .logo{
    position: absolute;
    top:1vh;
    left:5vw;
    z-index: 2;
  }

  .subnav { 
    width: 100%;
    display: flex; 
    flex-direction: row; 
    justify-content: right; 
    align-items: center;
   
    p{
        margin: 0.5rem;
    }

 }

 .rightMargin{
    padding-right: 18rem;
    
 }

 .rightText{
  text-align: right;
 }

 .blackBg{
    background-color: rgb(37, 37, 37);
 }

 .blackBg2{
  background-color: rgb(14, 14, 14);
}

.redBg{
  background-color: rgb(166, 33, 32);
}


 .imageBackground {
  max-width: 100%; 
  overflow: hidden;
  position: relative;
  z-index: 0;

  img {
      width: 100%;
      height: 100%; 
      display: block;
      position: relative;
      
  }

  .swiper {
    width: 100%;
    height: 100%; 
    z-index: 1; 
    
  }


  
.swiper-pagination-bullet { background: white; width: 10px; height: 10px; opacity: 0.7; } 
.swiper-pagination-bullet-active { background: red; }
.swiper-button-next,.swiper-button-prev {
  color: white;
  font-size: 2rem;
}


  .flex-container {
      display: flex;
      flex-direction: column;
      
      position: absolute; /* Ensure it's on top of the image */
      top: 0;
      left: 0;
      right: 0; /* Stretch to the full width of the container */
      bottom: 0; /* Stretch to the full height of the container */
      z-index: 1; /* Ensure it stays on top of the image */

      div {
          width: 33%;
      }
      div:nth-child(1) { 
        height: 25%;
      }
      div:nth-child(2) { 
        height: 50%;
        position: relative;
        color:#fff;

        background-color: rgba(0,0,0,0.3);

        .inner-container { 
          position: absolute; /* Position absolutely within the parent div */ 
          top: 0; right: 0; /* Align to the right */ 
          width: 50%; 
          
          text-align: left;
        }
      }
      
      div:nth-child(3) { 
        height: 25%;
      }
  }
}

.row{
  display: flex;
  flex-direction: row;

  img{
    padding: 1rem;
  }
}

.center{
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
 
  margin-left: 30vh;
  margin-right: 30vh;
  
}

.center2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40vh;
  margin-left: 30vh;
  margin-right: 30vh;
}

.center3{
  display: flex;
  flex-direction: row;
  align-items: center; 
  text-align: center;
  justify-content: space-between;
  margin-left: 30vh;
  margin-right: 30vh;
  
}


.top-bottom-margin{
  margin-top: 10vh;
  margin-bottom: 10vh;
}

button{
  cursor: pointer;
  pointer-events: auto;
}

@mixin buttonBase {
  display: block;
  padding: 15px 50px;
  border-radius: 25px;
  margin-right: 10px;
  color: #fff;
  border: 1px solid;
  z-index: 1;
}

.redButton {
  @include buttonBase;
  background-color: rgb(166, 33, 32);
  border-color: #fff;
}

.whiteButton {
  @include buttonBase;
  background-color: #fff;
  color: #000;
  border-color: #ff0000;
  margin-top: 10px;
}

.zindex1{
  position: absolute; 
  top: 0;
  left: 0;
  right: 0; /* Stretch to the full width of the container */
  bottom: 0; /* Stretch to the full height of the container */
  z-index: 1;
  
}
.bg-image{
  max-width: 100%; 
  z-index: -1;
}

.section{
  height: 100vh;
}
.section2{
  height: 300vh;
}

.half-section{
  
  display: flex;
  width: 100%;

  .left { 
    align-items: right;
    width: 50%; 
  }
  .right { 
    align-items: left;
    width: 50%; 
   
  }

}

.col5{
  display: flex;
}

.noBottomMargin{
  margin-bottom: 0;
}
.noTopMargin{
  margin-top: 0;
}

@mixin first-col{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 40vh;
  margin-top: 20vh;
  margin-bottom: 10vh;
}
.first-col{
  @include first-col;
}
.second-col{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10vh;
  margin-right: 40vh;
  margin-top: 20vh;
  margin-bottom: 10vh;
}
.third-col{
  @include first-col;
  line-height: 1.5;
}


 footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(181, 0, 20);
    color:#fff; 
    padding: 15px;
    
    p{
      width: 100%;
      display: flex; 
      flex-direction: row; 
      align-items: center;
    }
}

.lastRow{
      width: 100%;
      display: flex; 
      flex-direction: row; 
      justify-content:space-around; 
      align-items: center;
      background-color: rgb(102, 0, 11);
      color: #fff;
      p{
        margin: 0.5rem;
        font-weight: 400;
    }
}




